{% extends 'main/base.html' %}

{% block title %}
Редактирование таблицы
{% endblock %}

{% block content %}
    <h1>Редактирование таблиц</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.cost }}<br>
        {{ form.description }}<br>
        {{ form.quantity }}<br>
        <!-- (Реализация перемещена в файл forms.py <input type="text" placeholder="Введите название" class="form-control"><br>
        <input type="text" placeholder="Введите стоимость" class="form-control"><br>
        <textarea placeholder="Введите описание" class="form-control"></textarea><br>
        <input type="text" placeholder="Введите количество" class="form-control"><br> -->
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}